<h1>Business Process</h1>
<form (ngSubmit)="apply()" [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>{{fields.name}}</mat-label>
    <input [formControlName]="fields.name" matInput>
  </mat-form-field>
  <button  type="button" mat-stroked-button (click)="addTransition()" color="primary" *ngIf="editable">
    <mat-icon>add</mat-icon>
    <mat-label>transition</mat-label>
  </button>
  <br>

  <mat-expansion-panel [formArrayName]="fields.transitions" expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>transactions</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list *ngFor="let t of arrays.transitions.controls; let i = index">
      <mat-list-item dense>
        <mw-transition [formControlName]="i" mat-line></mw-transition>
      </mat-list-item>
      <mat-divider></mat-divider>
      <br>
    </mat-list>
  </mat-expansion-panel>

  <br>
  <button mat-stroked-button type="submit" *ngIf="editable">Apply</button>
</form>
<span>{{value | json}}</span>
