<h1>Script Task</h1>
<form (ngSubmit)="apply()" [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>{{fields.name}}</mat-label>
    <input [formControlName]="fields.name" matInput>
  </mat-form-field>

  <br>

  <div>
    <mat-label>{{fields.script}}</mat-label>
   <mw-editor [formControlName]="fields.script" ></mw-editor>
  </div>

  <br>
  <input [formControlName]="fields.type" type="hidden">

  <button class="form-action" color="warn" mat-stroked-button routerLink=".." type="button" >Cancel</button>
  <button class="form-action" color="primary" mat-stroked-button type="submit">Apply</button>
</form>
<span>{{value | json}}</span>
