<div [formGroup]="formGroup">
  <mat-form-field appearance="outline">
    <mat-label>from</mat-label>
    <input [formControlName]="fields.from" matInput>
  </mat-form-field>

  <mat-icon class="space-between">trending_flat</mat-icon>

  <mat-form-field appearance="outline">
    <mat-label>to</mat-label>
    <input [formControlName]="fields.to" matInput>
  </mat-form-field>

  <mat-checkbox [formControlName]="fields.waitCompletion"
                class="space-between">
    <mat-icon [matTooltip]="fields.waitCompletion">vertical_split</mat-icon>
  </mat-checkbox>
</div>
